.wrap {
  padding: 10px;
  color: white;
  font-family: sans-serif;

  span {
    padding-right: 5px;
  }
}

.var {
  background: red;
}

.let {
  background: blue;
}

.const {
  background: green;
}
